
.my-orders {
    font-size: 14px;
    font-weight: 500;
    color: #5a5959;
}

.header-left h1 {
    font-size: 18px;
    margin: 0;
}

[dir="rtl"] .header {
  flex-direction: row-reverse;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}