<app-header></app-header>

<div class="container">
  <h2 class="title">{{ 'CART' | translate }}</h2>

  <div *ngIf="cartItems.length === 0" class="empty">
    {{ 'EMPTY_CART' | translate }}
  </div>

  <div *ngFor="let item of cartItems" class="cart-card">
    <div class="cart-content">

      <div class="cart-info">
        <h3>{{ getName(item) }}</h3>

        <p class="price">QAR {{ item.price }}</p>

        <div class="counter">
          <button (click)="removeItem(item)">-</button>
          <span>{{ item.count || 0 }}</span>
          <button (click)="addItem(item)">+</button>
        </div>
      </div>

      <div class="cart-image">
        <img [src]="item.image" [alt]="getName(item)" />
      </div>

    </div>

    <div class="item-total">
      QAR {{ item.price * item.count }}
    </div>
  </div>

  <div class="total-box" *ngIf="cartItems.length > 0">
    <h3>{{ 'TOTAL' | translate }}: QAR {{ getTotal() }}</h3>
    <button mat-raised-button color="primary" (click)="checkout()"> {{ 'CHECKOUT' | translate }}</button>
  </div>
</div>